apiVersion: v1
kind: Service
metadata:
  name: ollama-monitor
  labels:
    app: ollama-monitor
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 8000
    targetPort: metrics
    protocol: TCP
  selector:
    app: ollama-monitor
